html,body {
  background-color: #f4f4f4 !important;
  
}

html {
  overflow-x: hidden;
}

.grid-item { width: 150px; }

strong { font-weight: bold; }
em {font-style: italic;}
blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 25px;
    margin-right: 40px;
    border-left: 4px solid #bdbdbd
}

.infoBox {
  overflow: visible !important;
}

.ql-editor {
  padding-left: 0px;
  padding-right: 90px;
  border: none;
}

.ql-toolbar.ql-snow {
  border: none;
  padding: 0px;
  margin-left: -0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ql-container.ql-snow {
  border: none;
}

.ql-picker-options {
  font-family: 'Roboto';
  font-weight: 400
}
.scrollbar::-webkit-scrollbar-track
{
	background-color: #EEEEEE;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #EEEEEE;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #BDBDBD;
}



/*html {
    zoom: 0.9;
}*/

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.cardSpacer {
  height: 15px;
  background: #f7f7f7;
}

.unselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* styles for '...' */ 
.truncate {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 4.8em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  
  /* */
  margin-right: 0.9em;
  margin-left: 0.5em;
  padding-right: 1em;
}
.truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.truncate:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}